@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
.App {
  text-align: center;
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("https://images8.alphacoders.com/464/thumb-1920-464366.jpg");
    height: 705px;   
    font-family: 'Roboto Mono';
    font-weight: 800;
    

}

.hv-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  background-color: rgba(247, 198, 189, 0.308);
}